
<div class="col-sm-8">
    <h2>Beginning a new website</h2>
    <h5>Starting a bio website, June 3, 2019</h5>
    <img src="/images/landscape.jpg" alt="picture" />
    <p>New image here..</p>
    <p>
        This is the beginning of my bio website. I am building this using bootstrap, node and 
        several other web technologies. It's always fun beginning new projects and learning
        new technologies.
    </p>
    <br>
    <h2>Editing CSS</h2>
    <h5>Workng on CSS, June 6, 2019</h5>
    <div class="fakeimg">Fake Image</div>
    <p>Picture of Puget Sound</p>
    <p>Editing CSS on site, little details make a big difference. Adding the bend to the heading underlines
        was a tweak I really liked. Also the drop shadow on the images make a big difference as well.
    </p>
</div>