
<div class="col-sm-8">
    <h2>Send feedback by E-Mail</h2>
    <div>
        <form action="#" method="POST">
            <p>
                Your e-mail:
            </p>
            <input type="text" name="email" />
            <br>
            <p>
                Your message:
            </p>
            <textarea name="message" row="8" cols="60"></textarea>
            <br>
            <button class="btn-primary form_button">Mail me</button>
        </form>
    </div>
</div>
