body {
    color: #bc5a45;
    background-color: #f4e1d2;
}

img {
    box-shadow: 4px 4px 6px #f18973;
    margin-bottom: 8px;
}

h2, h3 {
    border-bottom: 2px solid #bc5a45;
}

.topper {
    background-color: #f18973;
}

.mynavbar {
    background-color: #b2b2b2;
}

.acting {
    background-color: #f18973;
}